  
  
     .menuE {
        padding: 0px;
        display: flex;
        flex-direction: row;
        margin: 0;
        gap: 80px;
        font-size: 14px;
        margin-bottom: 20px;
        right: 0;
        left: 0;
    }
    

    
    .menuExperiencias {
        display: flex;
        flex-direction: column;
        justify-content: start;
        white-space: nowrap;
        left: 0;
        max-width: 120px;
        
    }
    @media(max-width : 725px){
        .menuE{
            flex-direction: column;
            gap: 30px;
        }
        .menuExperiencias{
            flex-direction: row;
            justify-content: space-between;
        }
        .experiencias1{
            padding: 10px !important;
        }
        #exVoltec{
            border-bottom: 2px solid var(--color6);
        }


        
    }
    @media(min-width : 725){
        .menuExperiencias div {
            border-left: 2px solid var(--color2);
            border: solid var(--color1) !important;
            border-top: none !important;
        }
        #exVoltec{
            border-left: 2px solid var(--color6);
        }
    }

    .experiencias1 #exFecha, #exFecha2 {
        font-size: 17px;
    }

    #exFecha, #exFecha2 {
        color: rgb(134, 134, 134);
        font-weight: 500;
    }

    .exLogo {
        height: 60px;
        width: 60px;
        border-radius: 30px;
        background-color: rgb(23, 33, 79);
        margin-bottom: -40px;
        object-fit: contain;
        display: inline;

    }

    .menuExperiencias div {
        border-left: 2px solid var(--color2);
        background-color: var(--color1);
        padding: 15px;
        width: 100%;

    }

    #exVoltec {
        background-color: var(--color2);
    }

    .menuExperiencias div:hover {
        background-color: var(--color2) !important;
        cursor: pointer !important;
    }

    .experiencias1 {
        background-color: var(--color1);
        padding: 10px 50px;
        display: block;
        margin: 0;
        flex: 1;
      }

    .experiencias1 .subtitulo2{
        margin-left: 80px;
    }

    .experiencias1 .subtitulo2::after {
        background: var(--color6);
    }

    .experiencias1 ul{
        padding-bottom: 0;
    }

    .exImg {
        display: flex;
        width: 180px;
        height: 180px;
        margin-left: 40px;
        margin-top: 30px;
        box-shadow: 0 0 5px var(--color6);
        object-fit: cover;
       
    }



    

    .flex{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        margin-top: 20px;
        
    }

   

  /*  opacity: 0.6;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
*/