   
:root{
    --color5: white;
    --color1: #1c1e24;
    --color2: #2b313a;
    --color4: #ff7373;
    --color3: #09fdfd;
    --color6: #1ad499;
    --color7: #16b895;
}

@font-face {
    src: url("../Fonts/Poppins-Medium.otf");
    font-family: Poppins;

}

   html{
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
    padding: 0;
   }

    body {
        padding-top:0px;
        font-family: 'Nunito', Arial;
        margin: 0;
        background-color: var(--color1);
        color: white;
        position: absolute;
        height: 100%;
        max-width: 100%;
        
    }
        section, main {
            background-color: var(--color1);
        }

        section {
            border-top: 1px solid var(--color2);
            padding: 90px 200px 60px 200px;
            
            
        }

        @media(max-width : 600px){
            section{
                padding: 90px 30px 60px 30px;
            }
        }

        @media(min-width : 600px) and (max-width : 1000px){
            section{
                padding: 90px 50px 60px 50px;
            }
        }



         .experiencia .proyectos {
            background-color: var(--color2);
            padding: 80px;

        }

       
        

        

        #Home { 
            padding: 100px;
            margin: 0px;
            box-sizing: border-box;
            height: 100%;
            position: relative;
            z-index: 1;
            background-image: url("../Images/Fondo.png");
            background-color: transparent;

        }
        
        

        .homeInfo {
            display: block;
            padding: 20% 10%;
            align-items: center;
            justify-content: center;
        }

        .homeInfo h3 {
            font-family: 'Fira Code';
            font-weight: 400;
        }

     

       
          
     

    
      
        .btnCV {
            margin-top: 30px;
            height: 40px;
            width: 110px;
            border-radius: 20px;
            border: 2px solid white;
           
            background-color: transparent;
            color: white;
        }

        .btnCV:hover {
            background-color: white;
            color: var(--color6);
            cursor: pointer !important;

        }



        

    

        

    

        

