    
  

  .proyectos {
    padding: 0;
    background-color: var(--color1);
  }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px; 
        padding-top: 10px;
    }

    .grid2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 20px; 
        padding-top: 10px;
    }

    .gridElement {
        background-color: var(--color2);
        padding: 20px;
        border-radius: 6px;
        position: relative;
        z-index: 1;
        margin-bottom: 20px;
        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
        transition: transform 0.15s;
    }

    .grid2 .gridElement {
        padding-bottom: 0px;
        height: 100%;
        
    }
    .grid2 a{
        margin-bottom: 40px;
    }

   

    .gridElement:hover {
        z-index: 2;
        transform: translateY(-6px);
        background-color: #333942;
    }

    .proyectos .subtitulo2 {
        margin-top: 30px;

    }
    
    .gridElement p {
        padding-top: 0;
        padding-top: 10px;
        line-height: 18px;
        font-size: 14px;
        margin-bottom: 0;
        padding-bottom: 10px;
    }

    .lugar1 {
        display: inline-block;
        text-align: center;
        background-color: rgb(0, 247, 255);
        width: 80px;
        margin: 0;
        padding: 3px;
        border-radius: 9px;
        font-size: 11px;
        font-family: Arial;
        font-weight: 300;
        color: var(--color1);
        
        
    }

    .proyectos img {
        height: 110px;
        object-fit: cover;
        width: 100%;
        border-radius: 8px;
        margin-top: 20px;
        transition: transform 0.5s;
    }

    /*.proyectos img:hover {
        transform: scale(1.6);
        object-fit: contain;
        border-radius: 5px;
    }
*/
    .grid2 img:hover{
        cursor: pointer;
    }
   
    svg {
        display: inline-block;
        position: absolute;
        height: 32px;
        width: 32px;
       right: 15px;
       bottom: 15px;
        
    }

    .gris {
        display: block;
        color: rgb(187, 187, 187);
        bottom: 19px;
        font-size: 13px;
        font-family: 'Fira Code';
        font-weight: 300;
    }

   .proyectos a {
        width: 100%;
        height: 100%;

    }
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 7px;
        position: absolute;
        bottom: 10px;
        left: 20px;
        right: 20px;

    }

    .proyectos i {
        display: inline-block;
        margin-left: 10px;
        font-size: 32px;
      
    }

    .gridElement {
        padding-bottom: 50px;
    }

    

    #githubP1:hover, #githubP2:hover, #githubP3:hover, #cadP2:hover {
        color: var(--color3);
        cursor: pointer;
    }
    

    
    #lineaP {
        width: 100%;
        height: 2px;
        border-radius: 1px;
        margin-top: 3px;
    }

    #githubP1 {
        color: rgba(4, 0, 255, 1);
    }
    .lineaP1 {
        background-color: rgb(4, 0, 255);
    }

    #githubP2, #cadP2 {
        color: rgb(4, 214, 4);
    }
    .lineaP2 {
        background-color: rgb(4, 214, 4);
    }
    #cadP2 {
        right: 60px;
    }

    #githubP3 {
        color: rgb(255, 255, 71);
    }
    .lineaP3 {
        background-color: rgb(255, 255, 71);
    }

    .lineaC1 {
        background-color: rgb(255, 208, 0);
    }

    .lineaC2 {
        background-color: red;
    }

    .lineaC3 {
        background-color: rgb(209, 12, 209);
    }


   

    .frc {
        object-position: top;
    }

    .wer, .business{
        object-position: bottom;

    }

    .wro {
        object-position: center;
    }

    .caterpillar {
        object-position: right;
    }

    

            @media(max-width : 725px){
                .grid {
                    grid-template-columns: 1fr;
                }
                .grid2 {
                    grid-template-columns: 1fr 1fr;
                    column-gap: 10px;
                }
                .gridElement{
                    margin-left: 50px;
                    margin-right: 50px;
                }
                .grid2 .gridElement{
                    margin: 0;
                }
                p{
                    font-size: 18px !important;
                }
            }

            @media(min-width: 725px) and (max-width: 880px) {
                .gridElement{
                    padding-bottom: 90px;
                }
                

                .proyectos i {
                    bottom: 45px;
                    left: 15px;
                }

                .grid2{
                    grid-template-columns: 1fr 1fr;
                }
                
            }
            
            @media(min-width: 880px) and (max-width : 1100px){
                .grid2{
                    grid-template-columns: 1fr 1fr 1fr;
                }
            }
            @media(min-width : 650px) and (max-width : 1300px) {
                .grid {
                grid-template-columns: 1fr 1fr;
                }

               
            }

   