.sobreMi {
    padding: 20px;
    margin-top: -30px;
}

.sobreMi h2 {
    margin-bottom: 25px;
    margin-top: 0px;
    padding-top: 5px;
}


.sobreMi h3 {
    font-weight: 400;
    margin-bottom: 10px;
}



.flexSobreMi {
    display: flex;
    flex-direction: row;
    align-items: start;
   
}

.perfilImg{
    width: 140px;
    height: 140px;
    border-radius: 70px;
    display: block;
    margin-top: -90px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

    background-image: 
    /* top, transparent red */
    linear-gradient(
        rgba(9,253,253,0.1), 
        rgba(26,212,153, 0.1)
    ),
    /* your image */
    url(../Images/Perfil.jpg);
    background-position:start center;
    background-size:cover;
    
}

.perfilImg:hover{
    background-image: 
   
    /* your image */
    url(../Images/Perfil.jpg);
    background-position:start center;
    background-size:cover;
}

.divIdiomas{
    flex: 2;
    padding-left: 40px;
}

.txtSobreMi{
    flex: 5;
}

.gridListas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px; 
    row-gap: 10px;
    padding-top: 10px;
    
}

.elementLista {
    background-color: var(--color2);
    padding: 15px;
    border-radius: 1px;
}

.cImg{
    height: 42px;
    width: 42px;
    background-color: white;
    box-shadow: 2px 2px 5px var(--color1);
    border-radius: 30px;
    padding: 6px;
}

.vtc {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;
    height: 54px;
}



.elementLista h3{
    display: block;
    padding-left: 10px;
    margin: 0;
}

.gris2 {
    display: block;
    color: rgb(187, 187, 187);
    font-size: 13px;
    font-family: 'Fira Code';
    font-weight: 300;
    padding-left: 10px;
    margin: 0;
    padding-bottom: 9px;
}

.nivelBase {
    display: block;
    position: relative;
    height: 2px;
    width: 100px;
    background-color: rgb(187, 187, 187);
    z-index: 2;
    margin-left: 10px;
}

.nivel99, .nivel90, .nivel70, .nivel60, .nivel50, .nivel40, .nivel30{
    position: absolute;
    left: 0px;
    top: 0;
    bottom: 0;
    background-color: aqua;
    z-index: 0;
}

.nivel99{
    width: 90%;
}
.nivel90 {
    width: 90%;
}
.nivel70 {
    width: 70%;
}
.nivel60 {
    width: 60%;
}
.nivel50{
    width: 50%;
}
.nivel40 {
    width: 40%;
}
.nivel30 {
    width: 30%;
}

@media(max-width : 754px){
    .flexSobreMi{
        flex-direction: column;
    }
    .perfilImg{
        margin-top: 0px;
        margin-bottom: -130px;
        margin-left: 250px;
        height: 120px;
        width: 120px;
    }
    .divIdiomas{
        margin-top: 20px;
        margin-left: 0;
        padding-left: 0;
        margin-bottom: 20px;
    }
}

.divIdiomas .li {
    line-height: 17px;
}

@media (max-width : 944px){
    .gridListas{
        grid-template-columns: 1fr;
    }
    .divIdiomas{
        flex: 1;
        gap: 20px;
    }
    .txtSobreMi{
        flex: 1.7;
    }
    .flexSobreMi{
        column-gap: 20px;
    }
    
}
@media(min-width: 945px) and (max-width : 1210px){
    .gridListas{
        grid-template-columns: 1fr 1fr;
    }
    .divIdiomas{
        flex: 1;
    }
    .txtSobreMi{
        flex: 2;
    }
    
}
@media(min-width: 1210px) and (max-width : 1450px){
    .gridListas{
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}