.titulo {
    color: white;
    font-family: Poppins,  'Times New Roman', Times, serif;
    font-size: 50px;
    line-height: 80px;
}

.subtitulo3 {
    font-family: Poppins,  'Times New Roman', Times, serif;
    font-size: 34px;
    padding: 20px 30px;
    background-image: linear-gradient(to right, var(--color6), var(--color3)) ;
}


.num {
  font-family: 'Fira Code', Arial;
  color: var(--color6);
  font-size: 26px;
  font-weight: 300;
}



.subtitulo2 {
    display: inline-block;
    position: relative;
    font-family: Poppins,  'Times New Roman', Times, serif;
    font-size: 24px;
    z-index: 0;
    line-height: 18px;
    font-weight: 500;
    margin-top: 0;

  }

  .subtitulo {
    
    font-family: Poppins,  'Times New Roman', Times, serif;
    font-size: 35px;
    color: white;
    margin-bottom: 60px;
    letter-spacing: 2px;

}
  
  
  
  .subtitulo2::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 4%;
    height: .3em;
    width: 100%;
    z-index: -1;
    background: var(--color7);

  }

  i {
    font-size: 16px;
    color: var(--color3);
  }

  h1, h2, h3, p, ul {
    margin: 0px;

   }

  h2 {
    margin-top: 30px;
    margin-bottom: 15px;
  }

   .proyectos h3 {
       font-family: 'Nunito', Arial;
       font-size: 18px;
       font-weight: 100;
       line-height: 19px;
       color: white;
    }

  h4 {
      font-family: 'Fira Code', Arial;
      font-size: 14px;
      font-weight: 500;
      line-height: 19px;
      color: rgb(187, 187, 187);
  }

    p, ul {
        text-align: justify;
        font-size: 16px;
        padding-bottom: 30px;
        font-family:'Open Sans';
        font-weight: 300;
        color: white;
        list-style: none;
    }

    .experiencia ul {
      font-size: 14px;
      padding-right: 80px;
      padding-bottom: 0;

    }
    
    li {
      margin-bottom: 18px;
      line-height: 14px;
    }

    ul li::before {
      content: "\2023";  /* Add content: \2022 is the CSS Code/unicode for a bullet \25CB */
      font-weight: bold;
      color: var(--color3); /* Change the color */
      display: inline-block; /* Needed to add space between the bullet and the text */
      width: 1em; /* Also needed for space (tweak if needed) */
      margin-left: -1em; /* Also needed for space (tweak if needed) */
      padding-bottom: 2px;
    }

   
    

    .highlight {
        color: var(--color3);
    }

    .contacto p {
      text-align: center;
      font-size: 16px;
    }
  
  
    